#folder
target/
#fixed file
.class
.exe
*/*.log
*/*.*.log
.prefs
.project
.classpath
.metadata
.settings
.DS_Store
Thumbs.db
*.iml
*.ipr
*.iws
*.tar.gz
.idea
.idea/*.xml
*/*.iml

/test/*
web/src/test/resources/